.card {
  display: flex;
  margin: 20px;
  border: 1px solid black;
  padding: 5px;
}

.info-block {
  padding-left: 10px;
}

.info-block span {
  font-weight: bold;
}

h6 {
  padding: 0;
  margin: 0;
}

p {
  margin: 5px;
}