.idcard {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    gap: 5px;
    color: black;

}

.picture {
    width: 140px;
    height: 140px;
}

p{
    margin: 0;
}

.bold{
    color: black;
    font-weight: 600;
}