.id-card {
    border: 1px solid black;
    display: flex;
    margin: 10px 10px;
}

.id-card > img {
    width: 128px;
    height: 128px;
    padding: 5px;
}

p {
    margin: 0 auto;
}

.greetings {
    border: 1px solid black;
    padding: 5px;
    margin: 10px 10px;
}

.random {
    border: 1px solid black;
    padding: 5px;
    margin: 10px 10px;
}

.box-color{
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    margin: 10px 10px;
}