
.card-container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 30%;
    padding: 10px;
    margin: 10px;
}

.card-pict-container {
    margin: 0 10px;
}

.card-pict {
    width: 100%;
    height: 100%;
}


.context-container {
    width: 70%;
}