.id-card {
  border: 1px solid black;
  margin: 5px;
  width: 600px;
  display: flex;
  flex-direction: row;
}

.id-card img {
  width: 200px;
  margin: 8px;
  height: auto;
}

.text {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
