.card {
    display: flex;
    flex: 1;
    margin: 5px;
    padding: 35px;
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;  
}

.logo {
    display: flex;
    justify-content: flex-end;
}

img {
    height: 40px;
    width: auto; 
}

.card-info {
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.card-number {
    font-size: 4.2rem;
    text-align: center;
}

.text {
    display: flex;
    flex-direction: row;
    gap: 40px;
}