#idCard{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    position: relative;
    width: 500px;
    margin: 10px 10px;
}
#idCard p{
    margin:0 0 0 120px;


}
#idCard img{
    height: 105px;
    width: 105px;
    position: absolute;
    left: 0;

}