.card {
    width: 80%;
    border: 1px solid black;
    display: flex;
    line-height: 2px;
    margin: 10px;
    padding: 5px;
  }
  
  .card img {
    object-fit: contain;
    margin-right: 10px;
  }