.App {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1, h2 {
  color: #333;
}

h2 {
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  margin-top: 30px;
}

.random {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    font-size: 1.2em
}

.pictures {
    width: 150px
}

.Descrip {
    margin-left: 20px
}

.id-card {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center
}

.greetings {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    font-size: 1.2em;
}

.box-color {
    padding: 40px;
    margin: 10px;
    text-align: center;
    font-size: 1.2em;
    border: 1px solid black
}