.App {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  /* CreditCard styles */
  .credit-card {
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  /* DriverCard styles */
  .driver-card {
    background-color: #455EB5;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  .driver-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .driver-info h2 {
    margin: 0;
  }
  
  .driver-info p {
    margin: 5px 0 0 0;
  }
  