.idInfo{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    display: flex;
}

.idText{
    font-size: 12px;
    gap: 6px;
}
.label{
    font-weight: bold;
}

.idImg{
    align-content: center;
    padding-right: 20px;
}

.greetings{
font-size: 25px;
border: 2px solid black;
margin: 10px;
padding: 10px;
}

.numberBox{
border: 2px solid black;
margin: 10px;
padding: 5px;}
