* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.card {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  display: flex;
  border: 1px solid black;
  height: 150px;
  align-items: center;
}

.image {
  max-width: 150px;
  margin-right: 20px;
  object-fit: cover;
}
.card-info {
  font-size: 16px;
  line-height: 1.2;
  text-align: start;
  margin-bottom: 40px;
}

.card-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.card-info span {
  font-weight: bold;
  color: black;
}

.card-info p {
  font-size: 14px;
  color: black;
  font-weight: normal;
}

.greating {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 10px;
  display: flex;
  border: 1px solid black;
  align-items: center;
}

.credit-card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.credit-card {
  background-color: #333;
  border-radius: 10px;
  color: white;
  max-width: 250px;
  min-width: 250px;
  height: 150px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-type {
  align-self: flex-end;
  font-size: 18px;
}
.card-number {
  font-size: 18px;
  letter-spacing: 1.4px;
  margin: 10px 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.fa-star {
  color: white;
  cursor: pointer;
  font-size: 24px;
}

.fa-star.checked,
.fa-star.active {
  color: black;
}

.driver-card {
  background-color: #468fd3;
  color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 600px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.driver-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
