.UserId{
    border: 1px black solid;
    margin: 10px;
    padding: 5px;
    display: flex;
}
h1{
    margin:15px;
}

.UserId li{
    list-style-type: none;
    font-weight: bold;
}

.Greet{
    font-size: 20px;
    font-weight: normal;
    border: 1px black solid;
    margin: 5px;
    padding: 5px;
}
h2{
    font-size: 15px;
    font-weight: normal;
    border: 1px black solid;
    margin: 5px;
    padding: 5px;
}
h3{
    font-size: 15px;
    text-align: center;
    font-weight: normal;
}