body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.idcard {
  border: 1px solid black;
  margin: 10px;
  width: 50%;
  padding-left: 10px;
}

.idcard div {
  display: inline-block;
  margin-left: 10px;
  line-height: 75%;
}

.greeting, .random, .box {
  border: 1px solid black;
  width: 40%;
  height: 30px;
  margin: 10px 0 0 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-weight: bold;
}



