body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.profile {
  border: 1px solid #333;
  margin: 0.5rem auto;
  padding: 0.5rem;

}
.greetings {
   border: 1px solid #333;
  margin: 0.5rem auto;
  padding: 0.5rem;

}
.random-box {
  border: 1px solid #333;
  margin: 0.5rem auto;
  padding: 0.5rem;
}