body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.id-card {
  display: flex;
  gap: 12px;
  border: 1px solid #000;
  padding: 12px;
  margin-bottom: 12px;
  align-items: center;
}

.id-card img {
  width: 150px;
  height: auto;
  object-fit: cover;
}
