body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.infoCard {
  margin-left: 5px;
}

.credConatiner {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  
}

.creditCard{
  width: 30%;
  border: 1px solid black;
  height: 150px;
  border-radius: 5%;
  align-content: space-evenly;
  
}

.container {
  padding:10px;
  border: 1px solid black;
  margin: 10px;
}

.license {
  background-color: #455EB5;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius:2%;
  color: white;
}


