body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 10px;
}

.idcard-container {
  border: 2px solid black;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin: 10px;
  padding: 5px;
}

.idcard-container>img {
  max-height: 100%;
  margin: 5px 5px;
}

.id-text {
  margin: 0;
}

.id-text>p {
  margin: 0;
}

.greetings-container {
  border: 2px solid black;
  margin: 10px;
  padding: 5px;
}

.random-container {
  border: 2px solid black;
  margin: 10px;
  padding: 5px;
}